version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 20s
      retries: 3
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
      - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    networks:
      - helpdesk

  service-discovery:
    container_name: 'service-discovery'
    build:
      context: ./service-discovery
      dockerfile: Dockerfile
    ports:
      - "8761:8761"
    expose:
      - 8761
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://service-discovery:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - helpdesk

  api-gateway:
    container_name: 'api-gateway'
    build:
      context: ./api-gateway
      dockerfile: Dockerfile
    environment:
      - EUREKA_URI=${EUREKA_URI}
      - CONFIG_SERVER_URI=${CONFIG_SERVER_SERVICE_URI}
    ports:
      - "8765:8765"
    expose:
      - 8765
    depends_on:
      service-discovery:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://api-gateway:8765/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - helpdesk

  config-server:
    container_name: 'config-server'
    build:
      context: ./config-server
      dockerfile: Dockerfile
    environment:
      - CONFIG_SERVER_URI=${CONFIG_SERVER_URI}
      - CONFIG_SERVER_USERNAME=${CONFIG_SERVER_USERNAME}
      - CONFIG_SERVER_PASSWORD=${CONFIG_SERVER_PASSWORD}
      - EUREKA_URI=${EUREKA_URI}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://config-server:8888/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      service-discovery:
        condition: service_healthy
    networks:
      - helpdesk

  auth-service-api:
    container_name: 'auth-service-api'
    build:
      context: ./auth-service-api
      dockerfile: Dockerfile
    environment:
      - SERVER_PORT=8080
      - PROFILE_ACTIVE=${PROFILE_ACTIVE}
      - EUREKA_URI=${EUREKA_URI}
      - CONFIG_SERVER_URI=${CONFIG_SERVER_SERVICE_URI}
    ports:
      - "8080:8080"
    expose:
      - 8080
    depends_on:
      service-discovery:
        condition: service_healthy
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://auth-service-api:8081/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - helpdesk

  email-service:
    container_name: 'email-service'
    build:
      context: ./email-service
      dockerfile: Dockerfile
    environment:
      - PROFILE_ACTIVE=${PROFILE_ACTIVE}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - EUREKA_URI=${EUREKA_URI}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_PROTOCOL=${MAIL_PROTOCOL}
      - CONFIG_SERVER_URI=${CONFIG_SERVER_SERVICE_URI}
    depends_on:
      config-server:
        condition: service_healthy
      service-discovery:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - helpdesk

  user-service-api:
    container_name: 'user-service-api'
    build:
      context: ./user-service-api
      dockerfile: Dockerfile
    environment:
      - PROFILE_ACTIVE=${PROFILE_ACTIVE}
      - EUREKA_URI=${EUREKA_URI}
      - CONFIG_SERVER_URI=${CONFIG_SERVER_SERVICE_URI}
    depends_on:
      config-server:
        condition: service_healthy
      service-discovery:
        condition: service_healthy
    networks:
      - helpdesk

networks:
  helpdesk:
    driver: bridge